*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#loading
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262837;
    z-index: 200;
    color: lightyellow;
    font: 24px Arial;
    text-align: center;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

